*{
    margin: 0;
}
body{
    background-color: red;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.container div{
    background-color: black;
    border-radius: 20px;
    margin: 15px;
}
.container p{
    color: white;
    margin: 15px;
}

#box1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#box5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
